body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: url('../img/auth.png');
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60vw;
    padding: 24px;
}

.signin-links{
    display: flex;
    justify-content: flex-end;
    padding: 0 16px;
}

h3{
    margin: 0;
    padding: 0 16px;
}

.card{
    border: 1px solid #c0c6f1;
    box-shadow: 1px 1px 2px 2px #dce0f9;
}

.card:hover{
    box-shadow: 1px 1px 5px 5px #dce0f9;
}

.form-control, .btn{
    border-radius: 5px;
}

.btn{
    margin-top: -12px;
    background: #4e5ab9;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px #1d2a95;
}

.two-element{
    display:flex;
    justify-content: space-between;
}

.w-48{
    width: 48%;
}