{% extends 'layouts/client.html' %}
{% block title %}Enjoy Auto | Dashboard{% endblock %}

{% block style %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <h4 class="ms-3 mb-2">History</h4>
    <div class="col-md-12">
        <div class="card b-radius--10">
            <div class="card-body p-0">
                <div class="table-responsive--sm table-responsive">
                    <table class="table table--light style--two">
                        <thead>
                            <tr>
                                <th class="lpadding-15">No</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Link</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="lpadding-15">
                                    1
                                </td>

                                <td>
                                    Graphice Designer Needed
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam culpa provident, aliquam officia expedita recusandae!
                                </td>
                                <td>
                                    https://linkedin/blabla
                                </td>
                                <td class="rpadding-15">
                                    2023.08.02
                                </td>
                            </tr>

                            <tr>
                                <td class="lpadding-15">
                                    2
                                </td>

                                <td>
                                    Graphice Designer Needed
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam culpa provident, aliquam officia expedita recusandae!
                                </td>
                                <td>
                                    https://linkedin/blabla
                                </td>
                                <td class="rpadding-15">
                                    2023.08.02
                                </td>
                            </tr>

                            <tr>
                                <td class="lpadding-15">
                                    3
                                </td>

                                <td>
                                    Graphice Designer Needed
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam culpa provident, aliquam officia expedita recusandae!
                                </td>
                                <td>
                                    https://linkedin/blabla
                                </td>
                                <td class="rpadding-15">
                                    2023.08.02
                                </td>
                            </tr>

                            <tr>
                                <td class="lpadding-15">
                                   4
                                </td>

                                <td>
                                    Graphice Designer Needed
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam culpa provident, aliquam officia expedita recusandae!
                                </td>
                                <td>
                                    https://linkedin/blabla
                                </td>
                                <td class="rpadding-15">
                                    2023.08.02
                                </td>
                            </tr>

                            <tr>
                                <td class="lpadding-15">
                                    5
                                </td>

                                <td>
                                    Graphice Designer Needed
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam culpa provident, aliquam officia expedita recusandae!
                                </td>
                                <td>
                                    https://linkedin/blabla
                                </td>
                                <td class="rpadding-15">
                                    2023.08.02
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer py-4">

            </div>
        </div>
    </div>
</div>
{% endblock %}