{% extends 'layouts/guest.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}" />
{% endblock %}
{% block title %}Enjoy Auto | Help {% endblock %}
{% block content %}

<!-- Header -->
<header class="bg-light pt-4 pb-1">
    <div class="container">
      <span class="help-heading"><h1 class="me-1">What Benefits </h1>are you able to get?</span>
    </div>
  </header>

  <!-- Image -->
  <section>
    <div class="container">
      <img src="static/img/article-details-large.jpg" alt="" class="w-100 my-1" />
    </div>
  </section>

  <!-- Basic Text -->
  <section class="pt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">

          <h2 class="mb-3">LinkedIn Easy Apply Bot</h2>

          <p>
            Automate your LinkedIn job applications with ease using this Python and Selenium-based bot. Tested successfully on
            over 15,000 job applications, this bot simplifies the Easy Apply process. Please note that the bot is provided without
            warranty, and usage is at your own risk. 
          </p>

          <p class="mb-4">
            I cannot be held responsible for any consequences, including account
            restrictions or suspensions by LinkedIn. Consider it an educational and enjoyable project!
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Cards -->
  <section class="my-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5>
                <i class="fas fa-check text-secondary"></i> High Quality
                Service
              </h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                culpa provident, aliquam officia expedita recusandae!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card my-3">
            <div class="card-body">
              <h5>
                <i class="fas fa-check text-secondary"></i> Prompt Timely
                Service
              </h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                culpa provident, aliquam officia expedita recusandae!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5>
                <i class="fas fa-check text-secondary"></i> Skilled Team
                Involved
              </h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                culpa provident, aliquam officia expedita recusandae!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Gray Box -->
  <section class="my-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card bg-light rounded-0 border-0 fs-6">
          <div class="card-body p-4">
            <h3>We Know What Our Customers Want</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptatum at optio quod tempora cupiditate fugit dolores quam,
              fuga ipsam aliquid rerum provident. Possimus, velit voluptatum?
              Magnam hic ab doloremque ipsam?
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}