
<div class="sidebar">
    <div class="sidebar__inner">
       <div class="sidebar__logo">
           <a class="navbar-brand" href="#">
               <span class="logo-enjoy">ENJOY<span class="logo-auto ms-1">AUTO</span></span>
           </a>
       </div>

       <div class="sidebar__menu-wrapper mt-3" id="sidebar__menuWrapper">
           <ul class="sidebar__menu">
               <li class="sidebar-menu-item">
                   <a href="#" class="nav-link active">
                       <i class="fa fa-laptop font-size-24"></i>
                       <span class="menu-title font-size-24">Dashboard</span>
                   </a>
               </li>

               <li class="sidebar-menu-item">
                   <a href="#" class="nav-link ">
                       <i class="fa fa-reply font-size-24"></i>
                       <span class="menu-title font-size-24">Apply</span>
                   </a>
               </li>
           </ul>
       </div>
   </div>
</div>
