{% extends 'layouts/client.html' %}

{% block toolbar %}
<nav class="navbar-wrapper navbar-light">
    <div class="navbar__left">
        <h3 class="m-0">Dashboard</h3>
    </div>
    <div class="navbar__right">
        <ul class="navbar__action-list">
            <li class="dropdown">
                <button type="button" class="" data-bs-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-user">
                        <span class="navbar-user__thumb"><img src="images/avatar.jpg" alt="image"></span>
                        <span class="navbar-user__info">
                            <span class="navbar-user__name">User 1</span>
                        </span>
                        <span class="icon"><i class="fa fa-angle-down"></i></span>
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu--sm p-0 border-0 box--shadow1 dropdown-menu-right">
                    <a href="#" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                        <i class="fa fa-user"></i>
                        <span class="dropdown-menu__caption ms-2">Profile</span>
                    </a>

                    <a href="{{ route('admin.logout') }}" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                        <i class="fa fa-sign-out"></i>
                        <span class="dropdown-menu__caption ms-2">SignOut</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}