{% extends 'layouts/client.html' %}
{% block title %}Enjoy Auto | Profiles{% endblock %}

{% block meta %}
    <meta id="form_data" data-form-data="{{data.form_data}}" data-other="{{other}}">
{% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
{% endblock %}

{% block content %}
    <div id="form_data"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <div class="card custom--card">
                    <div class="card-header">
                        <h5 class="card-title">Profiles List</h5>
                    </div>

                    <div class="card-body p-2">
                        <div class="form">
                            <div class="d-flex justify-content-end">
                                <a href="/client/profile/add" class="btn btn-primary mb-2"><i class="fa fa-plus" style="color: white!important;"></i> Add New Profile</a>
                            </div>
                            <div id="profile_container" class="row">

                                <div class="table-responsive--sm table-responsive">
                                    <table class="table table--light style--two">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Title</th>
                                                <th style="width: 30%;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                
                                                <td>
                                                    Graphice Designer Profile
                                                </td>
                                                <td>
                                                    <a href="/client/profile/edit/12" class="btn btn-sm btn-primary me-2"><i class="fa fa-edit" style="color: white!important;"></i> Edit Profile</a>
                                                    <a href="/client/profile/delete/12" class="btn btn-sm btn-danger"><i class="fa fa-trash" style="color: white!important;"></i> Delete Profile</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    2
                                                </td>
                
                                                <td>
                                                    Graphice Designer Profile
                                                </td>
                                                <td>
                                                    <a href="/client/profile/edit/12" class="btn btn-sm btn-primary me-2"><i class="fa fa-edit" style="color: white!important;"></i> Edit Profile</a>
                                                    <a href="/client/profile/delete/12" class="btn btn-sm btn-danger"><i class="fa fa-trash" style="color: white!important;"></i> Delete Profile</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    3
                                                </td>
                
                                                <td>
                                                    Graphice Designer Profile
                                                </td>
                                                <td>
                                                    <a href="/client/profile/edit/12" class="btn btn-sm btn-primary me-2"><i class="fa fa-edit" style="color: white!important;"></i> Edit Profile</a>
                                                    <a href="/client/profile/delete/12" class="btn btn-sm btn-danger"><i class="fa fa-trash" style="color: white!important;"></i> Delete Profile</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block script %} 
{% endblock %}